section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section div {
  height: 50vh;
  width: 50vw;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin: 10px;
  position: relative;
  color: #111827;
}