.container {
  align-items: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  padding: 30px;

}

.stars-container {
  display: flex;
  flex-direction: row;
  margin: 4px;

}

.star {
  margin: 4px;

  .star-icon {
    display: inline-block;
    cursor: pointer;
    color: #cfcfcf;
    font-style: normal;
    line-height: 1;
    transition: color 120ms ease-in-out, transform 100ms ease;

    &:hover {
      color: yellowgreen;
    }
  }
}

.star-hover {
  color: yellowgreen;
  // font-size: 11rem;

}

.star-icon.large {
  transform: scale(1.1);
}

.star-icon.regular {
  transform: none;
}
