<div class="flex flex-wrap h-500">
  <div class="w-full md:w-1/2 flex mx-auto justify-center items-center">
    @for (star of stars; track star) {
      <ul class="flex space-x-2 rating-list">
        <li
          (click)="countStar(star)"
          (mouseenter)="hoveredValue = star"
          (mouseleave)="hoveredValue = -1"
          [class]="{ selected: star <= selectedValue || star <= hoveredValue }"
          >
          <i class="star-logo"></i>
        </li>
      </ul>
    }
  </div>
  <div class="w-full flex justify-center">
    <h3>{{ selectedValue + "/" + stars[stars.length - 1] }}</h3>
  </div>
</div>
