<table class="employees-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <!-- titlecase pipe change text to PascalCase -->
      <td>{{ employee.name | titlecase }}</td>
      <!-- Using slice to show just 3 words of state and then make it uppercase by upperase pipe -->
      <td>{{ employee.state | slice : 0 : 3 | uppercase }}</td>
      <!--  -->
      <td>{{ employee.salary | currency : "USD" }}</td>
    </tr>
  </tbody>
</table>
