<!-- <p>custom-element works!</p> -->

<!-- ng-content -->
<!-- <ng-container></ng-container> -->
<!-- <ng-template></ng-template> -->



<!-- Content Projection -->


<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
      <ng-content select="[class=card-myheader]"></ng-content>
    </h5>
    <p class="card-text">{{desc}}</p>
    <ng-content></ng-content>
  </div>
</div> -->

<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
<!-- placeholder -->
<!-- 1. attribute single/multiple
2. css class single/multiple
3. attribute with value
4. html tag

-->
<button class="btn btn-primary" (click)="addItem($event)">add item</button>
<app-lifecycles [inputs]="inputs"></app-lifecycles>


<p appHighlight>This is static</p>

<p [appHighlight2]="color">This is on hover</p>
