<section>
  <div>
    <h2>Page 1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
      incidunt non vitae sunt quae. Nostrum consequatur pariatur repellendus
      illum quos consequuntur facere ex maxime architecto quia, inventore,
      distinctio veritatis esse.
    </p>
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, ut
    deserunt eaque ratione saepe dolore harum, aliquam alias adipisci et
    consequuntur veniam, nisi sit! Assumenda corrupti voluptates earum minus
    veniam?
  </div>
</section>
