<div class="rate-shell">
  <span class="rate-title">Rate me</span>
  <div class="rate-stars" (mouseleave)="handleLeave()">
    @for (star of arr; track i; let i = $index) {
      <div
        class="star"
        (click)="handleClick(star)"
        (mouseenter)="handleHover(star)"
      >
        <span
          class="star-icon star-hover"
          [class]="star < hoverTo ? 'large' : 'regular'"
          [class.star-hover]="star <= hoverTo || star <= rateNumber"
          role="img"
          aria-label="star"
          >★</span
        >
      </div>
    }
  </div>
  <div class="rate-score">{{ rateNumber }} / {{ arr.length }}</div>
</div>
