<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Angular Step by Step</span>
  </a>
  <hr />
  <nav class="sidebar-nav flex-grow-1">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let item of menuItems">
        <ng-container *ngIf="item.route; else nestedMenu">
          <a
            class="nav-link text-white"
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ item.label }}
          </a>
        </ng-container>
        <ng-template #nestedMenu>
          <ng-container *ngIf="item.children?.length">
            <button
              type="button"
              class="nav-link text-white sidebar-parent d-flex align-items-center justify-content-between w-100"
              (click)="toggle(item)"
              [class.active]="isChildActive(item)"
              [attr.aria-expanded]="isExpanded(item)"
              [attr.aria-controls]="'sidebar-group-' + item.id"
            >
              <span>{{ item.label }}</span>
              <span
                class="sidebar-caret"
                [class.rotate]="isExpanded(item)"
                aria-hidden="true"
              ></span>
            </button>
            <ul
              class="nav flex-column sidebar-children"
              [class.show]="isExpanded(item)"
              [attr.id]="'sidebar-group-' + item.id"
            >
              <li class="nav-item" *ngFor="let child of item.children">
                <a
                  class="nav-link text-white ms-3"
                  [routerLink]="child.route"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  {{ child.label }}
                </a>
              </li>
            </ul>
          </ng-container>
        </ng-template>
      </li>
    </ul>
  </nav>
  <hr />
  <div>
    <a
      href="https://github.com/MasoudBimar"
      target="_blank"
      class="d-flex align-items-center text-white text-decoration-none"
      aria-expanded="false"
    >
      <img
        src="https://avatars.githubusercontent.com/u/13163778?v=4&size=128"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Masoud Bimmer's Github</strong>
    </a>
  </div>
</div>
