<div
  class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Angular Step by Step</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/counter"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Counter
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/to-do"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Todo App
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="data-event"
        routerLinkActive="active"
      >
        Display Data - Handling Event
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/components"
        routerLinkActive="active"
      >
        Components
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/structural-directive"
        routerLinkActive="active"
      >
        Structural Directive
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/attribute-directive"
        routerLinkActive="active"
      >
        Attribute Directive
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/component-directive"
        routerLinkActive="active"
      >
        Component Directive
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/special-elements"
        routerLinkActive="active"
      >
        Special Elements
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/life-cycle"
        routerLinkActive="active"
      >
        Lifecycle Hooks
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/decorators"
        routerLinkActive="active"
      >
        Angular Decorators
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/color-picker"
        routerLinkActive="active"
      >
        Color Picker
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/pipes"
        routerLinkActive="active"
      >
        Angular Pipes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/paginated-post-collection"
        routerLinkActive="active"
      >
        Paginated Post Collection
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/template/template-driven"
        routerLinkActive="active"
      >
        Template Driven Form
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/template/full-template-driven"
        routerLinkActive="active"
      >
        Full Template Driven Form
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/template/rate"
        routerLinkActive="active"
      >
        Rate Component
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/product-sample"
        routerLinkActive="active"
      >
        Product Sample
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/reactive-driven"
        routerLinkActive="active"
      >
        Reacive Form
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        [routerLink]="['/empty-component']"
        routerLinkActive="active"
      >
        Empty Component
      </a>
    </li>
  </ul>
  <hr />
  <div>
    <a
      href="https://github.com/MasoudBimar"
      target="_blank"
      class="d-flex align-items-center text-white text-decoration-none"
      aria-expanded="false"
    >
      <img
        src="https://avatars.githubusercontent.com/u/13163778?v=4&size=128"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Masoud Bimmer's Github</strong>
    </a>
  </div>
</div>
