.box {
  width: 48%;
  margin: 0 auto;
  box-shadow:
    0 15px 25px rgba(0, 0, 0, 0.1),
    0 -6px 12px rgba(0, 0, 0, 0.06);
  padding: 30px;
  border-radius: 9px;
  transition: all .1s ease;
  margin-bottom: 10px;

}