<div class="row m-0">
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  @defer (on viewport) {
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  <div class="col-auto box">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, deleniti
    consequatur. Eligendi natus esse pariatur necessitatibus repudiandae ab
    minima voluptate non, provident nam rerum possimus temporibus ad error harum
    reprehenderit.
  </div>
  }
  @placeholder {
  <h4>Content should be replcaed with more card on scroll</h4>
  }
</div>
