<article class="stock-card">
  <div class="stock-info">
    <div class="stock-title">{{ stock.name }}</div>
    <div class="stock-code">({{ stock.code }})</div>
  </div>
  <div
    class="stock-price"
    [class.positive]="stock.isPositiveChange()"
    [class.negative]="!stock.isPositiveChange()"
  >
    $ {{ stock.price }}
  </div>
  <div class="stock-actions">
    <button
      (click)="onToggleFavorite($event)"
      class="btn btn-success btn-sm"
      *ngIf="!stock.favorite"
    >
      Add to Favorite
    </button>
    <span class="favorite-pill" *ngIf="stock.favorite">Favorite</span>
  </div>
</article>
