<div class="form-container m-5">
  <h2>Product Form Definition</h2>
  <form
    novalidate
    class="m-3"
    (ngSubmit)="onSubmit(productForm)"
    #productForm="ngForm"
  >
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        [class.is-invalid]="
          name.invalid && (name.dirty || name.touched || productForm.submitted)
        "
        required
        minlength="5"
        name="name"
        [(ngModel)]="product.name"
        #name="ngModel"
        placeholder="Product Name"
      />
      <div
        *ngIf="
          name.errors && (name.dirty || name.touched || productForm.submitted)
        "
      >
        <div *ngIf="name.errors['required']" class="invalid-feedback d-block">
          name is required
        </div>
        <div *ngIf="name.errors['minlength']" class="invalid-feedback d-block">
          Name length must be greater than 5 but actual length is
          {{ name.errors["minlength"].actualLength }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        class="form-select"
        id="category"
        required
        [(ngModel)]="product.category"
        name="category"
      >
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        id="price"
        type="text"
        class="form-control"
        name="price"
        [(ngModel)]="product.price"
      />
    </div>
    <ul
      class="text-danger list-unstyled mt-2"
      *ngIf="productForm.dirty && productForm.invalid && productForm.submitted"
    >
      <li *ngFor="let error of getValidationMessages(name)">
        {{ error }}
      </li>
    </ul>
    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <button
      type="button"
      class="btn btn-outline-secondary me-2"
      (click)="reset(productForm)"
    >
      Reset
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="preset(productForm)"
    >
      Default Values
    </button>
  </form>
  <hr />
</div>
