<!-- <div class="form-group m-2">
  <input type="text" class="form-control" name="name" [formControl]="name">
  <input type="text" class="form-control" name="category" [formControl]="category">
  <input type="text" class="form-control" name="price" [formControl]="price">
  <button class="btn btn-primary" (click)="onSubmit()"> save</button>
</div>

<p> Form Control Value: {{name.value |json }}</p>
<p> Form Control Value: {{name.status |json }}</p>

<p> Form Control Value: {{category.value |json }}</p>
<p> Form Control Value: {{category.status |json }}</p>

<p> Form Control Value: {{price.value |json }}</p>
<p> Form Control Value: {{price.status |json }}</p> -->

<div class="form-group m-2">
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <input type="text" class="block w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" name="name" formControlName="name">
    <input type="text" class="block w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" name="category" formControlName="code">
    <input type="number" class="block w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" name="price" formControlName="price">
    <button class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"> save</button>
  </form>
</div>
