<!-- <div class="form-group m-2">
  <input type="text" class="form-control" name="name" [formControl]="name">
  <input type="text" class="form-control" name="category" [formControl]="category">
  <input type="text" class="form-control" name="price" [formControl]="price">
  <button class="btn btn-primary" (click)="onSubmit()"> save</button>
</div>

<p> Form Control Value: {{name.value |json }}</p>
<p> Form Control Value: {{name.status |json }}</p>

<p> Form Control Value: {{category.value |json }}</p>
<p> Form Control Value: {{category.status |json }}</p>

<p> Form Control Value: {{price.value |json }}</p>
<p> Form Control Value: {{price.status |json }}</p> -->

<div class="m-3">
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="stockName">Name</label>
      <input
        id="stockName"
        type="text"
        class="form-control"
        name="name"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="stockCode">Code</label>
      <input
        id="stockCode"
        type="text"
        class="form-control"
        name="category"
        formControlName="code"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="stockPrice">Price</label>
      <input
        id="stockPrice"
        type="number"
        class="form-control"
        name="price"
        formControlName="price"
      />
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
